#include "nsimeres.h"

ICON NSIME_DEFAULT_RES "NSIMEICO.ICO"

; for japanese
MENU NSIME_MENUID_INSERT_JP
{
    MENUITEM SEPARATOR
    MENUITEM "NSIMEの設定..." ,NSIME_CMDID_SETTINGS
}

; for english
MENU NSIME_MENUID_INSERT_EN
{
    MENUITEM SEPARATOR
    MENUITEM "Settings of NSIME..." ,NSIME_CMDID_SETTINGS
}

STRINGTABLE{
	; for japanese
	NSIME_STRID_CLIENT_CAPTION_JP "ＩＭＥオン/オフ操作を監視中です・・・\x0A"
"\x0A"
"　|\x0A"
"　|_∧\x0A"
"　|∀･)\x0A"
"　|⊂）\x0A"
"　|ｕ'\x0A"
"￣\x0A"
	NSIME_STRID_ERROR_NOIME_JP "このシステムにはＩＭＥがありません。NSIMEは無用です。"
	NSIME_STRID_ERROR_NODLL_JP "NSIMEDLL.DLL が見つかりません。"
	NSIME_STRID_ERROR_INVALVER_JP "NSIMEDLL.DLL のバージョンが不正です。"

	NSIME_STRID_NLS_ALPHANUM_JP "英"
	NSIME_STRID_NLS_HIRAGANA_JP "あ"
	NSIME_STRID_NLS_KATAKANA_JP "ア"
	NSIME_STRID_WIDTH_HALF_JP "半"
	NSIME_STRID_WIDTH_FULL_JP "全"
	NSIME_STRID_ROMAJI_OFF_JP "Ｊ"
	NSIME_STRID_ROMAJI_ON_JP "Ｒ"

	; for english
	NSIME_STRID_CLIENT_CAPTION_EN "Watching IME on/off operation..."
	NSIME_STRID_ERROR_NOIME_EN "This system does not have IME(Input Method Editor). NSIME is useless."
	NSIME_STRID_ERROR_NODLL_EN "Not found. NSIMEDLL.DLL"
	NSIME_STRID_ERROR_INVALVER_EN "Invalid version. NSIMEDLL.DLL"

	NSIME_STRID_NLS_ALPHANUM_EN "Alphanumeric"
	NSIME_STRID_NLS_HIRAGANA_EN "Hiragana"
	NSIME_STRID_NLS_KATAKANA_EN "Katakana"
	NSIME_STRID_WIDTH_HALF_EN "Half"
	NSIME_STRID_WIDTH_FULL_EN "Full"
	NSIME_STRID_ROMAJI_OFF_EN "Off"
	NSIME_STRID_ROMAJI_ON_EN "On"

	NSIME_STRID_NLS_HANGEUL_EN "Hangeul"
	NSIME_STRID_NLS_PRC_EN "PRC"
	NSIME_STRID_NLS_TAIWAN_EN "Taiwan"
	NSIME_STRID_NLS_ANYTHING_EN "Anything"
}

